@import url('../../.cache/wal/colors-waybar.css');

/****************
**** General ****
*****************/

* {
    font-size:13px;
    font-weight: bold;
    border-radius: 10px;
    transition: all .3s ease;
    font-family: "FiraCode Nerd Font", monospace;
}

tooltip {
    color: white;
}

/*********************************
**** Configuración de Módulos ****
**********************************/

.module {
    margin: 5px;
    color: white;
    padding: 6px 10px;
    background-color: @background
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

/*******************************************
**** Configuración de la Raíz de Waybar ****
********************************************/

window#waybar {
    all:unset;
    background-color: alpha(@background, 0.5);
}

/************************************************
**** Configuración de Módulos (Ordenados ->) ****
*************************************************/

#custom-launcher {
    color:@color1;
    font-size: 20px;
}

#workspaces {
    color:@color4;
}

#window {
    color: white;
}

#clock {
    color:white;
}

#tray {
    color:@color5;
}

#backlight {
    color:white;
}

#pulseaudio {
    color:@color3;
}

#bluetooth {
    color:@color2; 
}

#network {
    color:@color1;

}

#battery {
    color: white;
}

#custom-notification {
    color:@color1;
}

/*********************************
**** Configuración de Batería ****
**********************************/

#battery.charging {
    color: #81b953;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}

/********************************
**** Configuración de Window ****
*********************************/

window#waybar.empty #window {
    background-color: transparent;
}

/************************************
**** Configuración de Workspaces ****
*************************************/

#workspaces button {
    all:unset;
    color: alpha(@color4, 0.7);
    transition: all .2s ease;
    padding: 0px 10px;
}

#workspaces button:hover {
    color: @color1;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color4;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: alpha(@color4, 0.7);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: @color1;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color4;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/*******************************
**** Configuración de Hover ****
********************************/

#clock:hover, 
#tray:hover, 
#custom-pacman:hover,
#custom-launcher:hover,
#custom-notification:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover, 
#backlight:hover, 
#battery:hover, 
#battery.charging:hover {
    color: @color4;
}