@import url('../../.cache/wal/colors-waybar.css');

/****************
**** General ****
*****************/

* {
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px;
    font-family: "FiraCode Nerd Font", monospace;
}

tooltip {
    color: white;
}

/*********************************
**** Configuración de Módulos ****
**********************************/

.module {
    margin: 5px;
    color: white;
    padding: 1px 10px;
    transition: all .2s ease;
    background-color: alpha(@background, 0);
    border-bottom: currentColor 1.5px solid;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

/*******************************************
**** Configuración de la Raíz de Waybar ****
********************************************/

window#waybar {
    all:unset;
    background-color: alpha(@background, 0.4);
}

/************************************************
**** Configuración de Módulos (Ordenados ->) ****
*************************************************/

#custom-launcher {
    color:@color3;
    font-size: 20px;
}

#workspaces {
    color:@color3;
    
}

#window {
    color:@color3;
}

#clock {
    color:@foreground;
}

#tray {
    color:@color3;
}

#backlight {
    color:@color6;
}

#pulseaudio {
    color:@color4;
}

#bluetooth {
    color:@color6; 
}

#network {
    color:@color5;

}

#battery {
    color: @color4;
}

#custom-notification {
    color:@color7;
}

/*********************************
**** Configuración de Batería ****
**********************************/

#battery.charging {
    color: #81b953;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}

/********************************
**** Configuración de Window ****
*********************************/

window#waybar.empty #window {
    border: transparent;
    background-color: transparent;
}

/************************************
**** Configuración de Workspaces ****
*************************************/

#workspaces button {
    all:unset;
    padding: 0px 10px;
    transition: all .1s ease;
    color: alpha(@color4, 0.5);
}

#workspaces button:hover {
    color: @color1;
}

#workspaces button.active {
    color: @color4;
}

#workspaces button.empty {
    color: alpha(@color4, 0.5);
}

#workspaces button.empty:hover {
    color: @color1;
}

#workspaces button.empty.active {
    color: @color4;
}

/*******************************
**** Configuración de Hover ****
********************************/

#clock:hover, 
#tray:hover, 
#custom-pacman:hover,
#custom-launcher:hover,
#custom-notification:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover, 
#backlight:hover, 
#battery:hover, 
#battery.charging:hover,
#battery.critical:not(.charging):hover,
#battery.critical:not(.charging):hover {
    color: @accent;
}